.tr-big-value {
  margin-top: 16px !important;
  margin-bottom: 16px !important;

  h1 {
    margin: 0;

    span {
      font-size: 24px !important;
    }
  }

  .tr-min-val {
    margin-right: 16px !important;
    color: #e91e63 !important;
  }

  .tr-max-val {
    color: #00bcd4 !important;
  }
}

.tr-middle-value {
  margin-top: 16px !important;
  margin-bottom: 16px !important;

  h3 {
    margin: 0;

    span {
      font-size: 18px !important;
    }
  }
}
.tr-critical-2,
.tr-major-2,
.tr-minor-2 {
  padding: 8px 16px !important;
  text-align: center !important;

  h1,
  h5 {
    color: white !important;
  }
}

.tr-critical-2 {
  background-color: #f10075;
}

.tr-major-2 {
  background-color: #fd7e14;
}

.tr-minor-2 {
  background-color: #ffc107;
}

.tr-full {
  width: 100%;
  height: 100%;
}

.tr-wd-100 {
  width: 100%;
}
