.tr-big-value {
    margin-top: 16px !important;
    margin-bottom: 16px !important;

    h1 {
        margin: 0;

        span {
            font-size: 24px !important;
        }
    }

    .tr-min-val {
        margin-right: 16px !important;
        color: #e91e63 !important;
    }

    .tr-max-val {
        color: #00bcd4 !important;
    }
}

.tr-critical {

    h1,
    h5 {
        color: #e91e63 !important;
    }
}

.tr-major {

    h1,
    h5 {
        color: #ff9800 !important;
    }
}

.tr-minor {

    h1,
    h5 {
        color: #ffeb3b !important;
    }
}

.tr-full {
    width: 100%;
    height: 100%;
}

.tr-wd-100 {
    width: 100%;
}